html {
    font-family: sans-serif;
    color: #311;
    background: #f4f4f4;
}

body {
    margin: 0;
}

main {
    padding: 0 0.5rem;
}

article {
    max-width: 56rem;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4, h5, h6, h7 {
    font-size: 1rem;
}

a {
    color: #a66;
}
a:hover,
header > nav > ul > li > a:hover {
    color: #d88;
}
a:visited {
    color: #666;
}

a:focus-visible {
    outline: 0.25rem solid rgb(255,128,128,0.3);
    border-radius: 0.125rem;
    outline-offset: 0.125rem;
}

.nobreak {
    white-space: nowrap;
}

.command {
    font-family: monospace;
    font-size: 125%;
    color: #755;
}

pre {
    width: 100%;
    overflow-x: auto;
    font-size: 125%;
    background-color: #fafafa;
    padding: 0.5rem;
}

article .date {
    color: #a88;
}
